<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MQ_Alarm</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/conf/AMBAdaptorConfig-DCSI_MQ.xml
			/WEB-INF/conf/AMBAdaptorConfig-NineAir_MQ.xml
			/WEB-INF/conf/AMBAdaptorConfig-NEWAPP_MQ.xml
			/WEB-INF/conf/applicationContext.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>mq.alarm</param-value>
  </context-param>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/conf/log4j.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.travelsky.listener.MqListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>QueryDepth</display-name>
    <servlet-name>QueryDepth</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryDepth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDepth</servlet-name>
    <url-pattern>/QueryDepth</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>mq.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryDepthLimit</display-name>
    <servlet-name>QueryDepthLimit</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryDepthLimit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDepthLimit</servlet-name>
    <url-pattern>/QueryDepthLimit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryInteval</display-name>
    <servlet-name>QueryInteval</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryInteval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryInteval</servlet-name>
    <url-pattern>/QueryInteval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPsgDepth</display-name>
    <servlet-name>QueryPsgDepth</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryPsgDepth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPsgDepth</servlet-name>
    <url-pattern>/QueryPsgDepth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryBagDepth</display-name>
    <servlet-name>QueryBagDepth</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryBagDepth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBagDepth</servlet-name>
    <url-pattern>/QueryBagDepth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryNineAirDepthLimit</display-name>
    <servlet-name>QueryNineAirDepthLimit</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryNineAirDepthLimit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNineAirDepthLimit</servlet-name>
    <url-pattern>/QueryNineAirDepthLimit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryNineAirInteval</display-name>
    <servlet-name>QueryNineAirInteval</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryNineAirInteval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNineAirInteval</servlet-name>
    <url-pattern>/QueryNineAirInteval</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryANJDepth</display-name>
    <servlet-name>QueryANJDepth</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryANJDepth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryANJDepth</servlet-name>
    <url-pattern>/QueryANJDepth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryATSCDepth</display-name>
    <servlet-name>QueryATSCDepth</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryATSCDepth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryATSCDepth</servlet-name>
    <url-pattern>/QueryATSCDepth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPNRDepth</display-name>
    <servlet-name>QueryPNRDepth</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryPNRDepth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPNRDepth</servlet-name>
    <url-pattern>/QueryPNRDepth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryPSRDepth</display-name>
    <servlet-name>QueryPSRDepth</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryPSRDepth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryPSRDepth</servlet-name>
    <url-pattern>/QueryPSRDepth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryNEWAPPDepthLimit</display-name>
    <servlet-name>QueryNEWAPPDepthLimit</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryNEWAPPDepthLimit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNEWAPPDepthLimit</servlet-name>
    <url-pattern>/QueryNEWAPPDepthLimit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryNEWAPPInteval</display-name>
    <servlet-name>QueryNEWAPPInteval</servlet-name>
    <servlet-class>com.travelsky.servlet.QueryNEWAPPInteval</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryNEWAPPInteval</servlet-name>
    <url-pattern>/QueryNEWAPPInteval</url-pattern>
  </servlet-mapping>
</web-app>